<%- include('header'); -%>

<div class="page-head">
	<h5 data-aos="fade-left">About Me</h5>    
</div>


<div class="cv">
  <div data-aos="zoom-in-right" class="first">       
      <p class="">Nwaneri Chibuzo Anthony is a graduate of mass communication, Caritas University, Enugu.
        I graduated from the Department of Mass Communication, with a CGPA of 4.39/5.00 in the 2016/2017 Academic Session.
        <br> 
        I am a critical thinker and love solving problems where they arise. Through my time at the university, I was able to be part of different groups in the department, which enabled me understand how to work with a team, form better communication skills, leadership and interpersonal skills.<br> 
      </p>
  </div>

  <!-- <div data-aos="zoom-in" class="second">
      <p>
        I was also worked at the University's Radio, Caritas UniRadio 98.7fm, for a period, as a co-anchor, for two different programmes: the first being a weekday programme called 'The Mix', where we discussed topical issues trending affecting the society, while the other was a Saturday entertainment production, called 'E-Hub', where we gave a run down of the Major entertainment trends and happenings in the past week, as well as a Foreign and Domestic countdown. <br> 
        However, I identify as a content developer, and public/media relations officer, and also as a photographer, and graphic designer, very conversant with software such as Photoshop; Illustrator and InDesign, and with a strong understanding of print media and design, as well as skills in developing content for media; both traditional and modern media platforms, i.e, social media. I was opportuned to the first student to be brought on board, as part of the university's media team for publicity. <br>
    </p>
  </div>

  <div data-aos="zoom-in" class="third">
      <p>During my 1 year service to the Country, I served as a reporter on the business desk of The Guardian Newspaper Limited, a reputable media house, and was able to add writing to my inventory of skills; as well as, a better understanding of how the print media industry operates; and further grow my media and public relations skills, and also develop a list of contacts in the media industry, which may serve to the growth of your establishment's image, with the right strategy.
        The experience at the Guardian also taught me how to work under pressure, especially when working against time, and in a large group, as well as, secretarial skills, as I also acted as the defacto secretary for the business desk. I am currently a freelance public relations officer for a number of firms.
        I am always available for further inquries and questions at any time.

       
    </p>
  </div>
 -->
</div>




<%- include('footer'); -%>

