<%- include('header'); -%>

  <h1 class="running-text">Chibuzo Anthony Nwaneri</h1>    
              <main class="container">
                  <section class="card" data-aos="zoom-in">
                    <a href="about" class="swiper-slide">
                      <div class="card-img">
                        <img src="1.jpg">
                      </div>
                    </a>
                  </section>

                  <section class="card" data-aos="zoom-in">
                    <div class="swiper-slide">
                      <div class="card-img">
                        <img src="6.jpg">
                      </div>
                    </div>
                  </section>

                  <section class="card" data-aos="zoom-in">
                    <div class="swiper-slide">
                      <div class="card-img">
                        <img src="7.jpg">
                      </div>
                    </div>
                  </section>

                  <section class="card" data-aos="zoom-in">
                    <div class="swiper-slide">
                      <div class="card-img">
                        <img src="2.jpg">
                      </div>
                    </div>
                  </section>
              </main>
     





<%- include('footer'); -%>

          
            









